.hover-darken {
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.hover-darken:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.darkened {
    background-color: rgba(0, 0, 0, 0.1);
}

.brightened {
    background-color: transparent;
}

.no-decoration {
    color: inherit;
    text-decoration: none;
}

.max-width70 {
    max-width: 70%;
}
